@model Prog5_3C2025.Models.Clínica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clínica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombredelaClínica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombredelaClínica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinciaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvinciaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistritoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistritoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IddelaClínica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
