@model IEnumerable<Prog5_3C2025.Models.Clínica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombredelaClínica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinciaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistritoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombredelaClínica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinciaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistritoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IddelaClínica">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IddelaClínica">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IddelaClínica">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
